<div *ngIf="movie">
    <h2>Movie Details</h2>

    <div *appUnless="!movie">
        <div class="movie">
            <div>#{{movie.id}}</div>
            <div>
                <strong>Title: </strong><span [innerHTML]="movie.title | imdblink:movie.imdb_id"></span>
            </div>
            <div>
                <strong>Year: </strong><span [appHighlight]="'orange'">{{movie.year}}</span>
            </div>
            <div>
                <strong>Actor: </strong><span [appHighlight]="'cyan'">{{movie.actor}}</span>
            </div>
            <div>
                <strong>Gross (with inflation): </strong><span [appHighlight]="'yellow'">{{movie.gross_inflated_in_USD | currency:'USD':'symbol-narrow':'9.0'}}</span>
            </div>
            <div>
                <img src="https://xl.movieposterdb.com/{{movie.posterToken}}.jpg" 
                    alt="{{ movie.title }} poster" 
                    width="200">
            </div>
        </div>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="movie.title" placeholder="Enter movie title">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Rating</mat-label>
                <input matInput [(ngModel)]="movie.rating" placeholder="Enter movie rating (1-10)">
            </mat-form-field>
        </p>

        <button mat-raised-button color="primary" (click)="saveMovie()" [disabled]="isSaving">{{ !isSaving ? 'Save': 'Saving...' }}</button>
        <br/><br/>
    </div>
    <button mat-raised-button color="warn" (click)="goBack()">Back</button>
</div>