<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>
    <nav>
      <a routerLink="/movies">Movies</a>
    </nav>
  </span>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>

</div>

<h2>An application to find and learn more about James Bond movies during the last almost 60 years!</h2>

<!-- A placeholder that Angular dynamically fills based on the current router state. -->
<router-outlet></router-outlet>