<h2>List of movies</h2>
<ul>
    <li *ngFor="let movie of movies">
        <div><span>#</span>{{movie.id}}</div>
        <div><span><strong>Title: </strong></span>{{movie.title | uppercase}}</div>
        <div><span><strong>Year: </strong></span>{{movie.year}}</div>
        <div><span><strong>Actor: </strong></span>{{movie.actor}}</div>
        <div><span><strong>Gross (with inflation): </strong></span>${{movie.gross_inflated_in_USD}}</div>
        <div> <img src="https://xl.movieposterdb.com/{{movie.posterToken}}.jpg" alt="{{ movie.title }} poster" width="200"></div>
    </li>
</ul>  