@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* For more pre-built themes check: https://v10.material.angular.io/guide/theming#using-a-pre-built-theme */

/* You can add global styles to this file, and also import other style files */
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}